<h1>Панель адміністратора</h1>

<div class="cards">
  <div class="card"><strong>Товари:</strong> <%= @products_count %></div>
  <div class="card"><strong>Замовлення:</strong> <%= @orders_count %></div>
  <div class="card"><strong>Звернення:</strong> <%= @messages_count %></div>
  <div class="card"><strong>Відгуки (на модерації):</strong> <%= @pending_reviews %></div>
</div>
